@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inserting a global rule on html to prevent overflow-x (black space on the right) on mobile view */
html { overflow-x: hidden; }

/* Inserting a global rule on body to prevent overflow-x (black space on the right) on mobile view */
body { overflow-x: hidden; }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
